[submodule "Listas encadeadas"]
	path = Listas encadeadas
	url = https://github.com/ivismma/Listas-Encadeadas-em-C.git
[submodule "C com Python"]
	path = C com Python
	url = https://github.com/ivismma/Aplicacao-C-com-Python.git
